:root{
  --bs-form-customs-bg-main: #1e1f22;
  --bs-form-customs-logo: #3f4953;

  --root-custom-color-card-bg-secondary: #2b2d30;
  --root-custom-color-card-shadow: rgba(161, 160, 160, 0.35);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.mainPageTitle{
  background: linear-gradient(to left, #135fb1, #ece4de);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 2rem;
  font-weight: 600;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  position: relative;
  clear: both;
}

.bs-form-customs-mainBackground {
  background-color: var(--bs-form-customs-bg-main);
  min-height: 100vh;
  min-width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
}

.h1 {
  font-size: calc(1.675rem + 1.5vw);
}


.h2 {
  font-size: 3vw;
}

.h3 {
  font-size: calc(1.3rem + .6vw);
}


.h4 {
  font-size: calc(1.275rem + .3vw);

}

.h5 {
  font-size: 1.25rem;

}

.h6 {
  font-size: 0.8rem;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.center_xy{
  display: flex;
  align-items: center;
  justify-content: center;
}

.questionOptionButton{
  width: 23rem;
  height: 4rem;
  background-color: transparent;
}